  body{
            margin:0;
            padding:0;
            font-family: 'Segoe UI', sans-serif;
            height:100vh;
            background: linear-gradient(135deg,#020024,#090979,#00d4ff);
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .container{
            width:800px;
            height:500px;
            background:#0a192f;
            display:flex;
            border-radius:20px;
            overflow:hidden;
            box-shadow:0 0 20px rgba(0,0,0,0.8);
        }
        .left{
            width:50%;
            background:linear-gradient(135deg,#64ffda,#0047ff);
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            padding:30px;
            color:#0a192f;
            text-align:center;
        }
        .left h1{
            font-size:42px;
            margin:0;
        }
        .left p{
            margin-top:10px;
            font-size:16px;
        }

        .right{
            width:50%;
            background:#112240;
            padding:40px;
            color:white;
        }

        .right h2{
            text-align:center;
            color:#64ffda;
            margin-bottom:20px;
        }

        input{
            width:100%;
            padding:12px;
            margin:8px 0;
            border-radius:8px;
            border:none;
            outline:none;
        }

        button{
            width:100%;
            padding:12px;
            margin-top:15px;
            border-radius:25px;
            border:none;
            background:#64ffda;
            color:#0a192f;
            font-weight:bold;
            cursor:pointer;
        }

        .options{
            display:flex;
            justify-content:space-between;
            font-size:13px;
            margin-top:5px;
        }

        .options a{
            color:#64ffda;
            text-decoration:none;
        }

        .signup{
            text-align:center;
            margin-top:20px;
        }

        .signup a{
            color:#64ffda;
        }

        .error{
            background:#ff4d4d;
            padding:8px;
            border-radius:6px;
            margin-bottom:10px;
            text-align:center;
        }

        .remember{
            display:flex;
            align-items:center;
            gap:6px;
            font-size:13px;
        }
        