body{background:#0a192f;color:white;font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;}
    .box{background:#112240;padding:30px;border-radius:15px;width:400px;}
    input,select,button{width:100%;padding:10px;margin:7px 0;border-radius:8px;border:none;}
    button{background:#64ffda;color:#0a192f;font-weight:bold}